header
{
    display: flex;
    width: 100%;
    border-style: dotted;
}
body
{
    background : url("https://c.pxhere.com/photos/c8/48/nature_pier_lake_dock_clear-306.jpg!d") no-repeat center;
    background-size: 100%;
}

h2
{
    text-align: center;
    color: #71cc08;
    
}
ul
{
    border-style: dotted;
    border-color: hsl(345, 67%, 43%);
}
h1
{
    color: cornsilk;
    text-align: center;
    width: 100%;
    height: auto;
}
#bloc_page
{
    background: url("image/liseré.png") no-repeat top left;
    width: 100%;
    margin: auto;
}
#photo
{
    margin-left: 0px;
    position: relative;
}
#conteneur
{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
    justify-content: space-between;
}
@media (max-width: 860px)
{
    #bloc_page
    { 
        background: none;
    }
    #conteneur
    {
        flex-direction: column;
    }
}